{% extends 'base.html.twig' %}

{% block title %}{{ question.name }}{% endblock %}

{% block body %}
    <section class="container text-center">
        <h1>{{ question.name }}</h1>
        <p>You already answered this question!</p>
    </section>
{% endblock %}
