{% set icons = ['026-gift.png', '028-gift.png', '021-gifts.png'] %}
    <div class="scoreIcons text-center">
    {% for i in range(1, points) %}
        {% if i % 3 == 0 %}
            <img src="{{ asset('assets/images/icons/'~icons[0]) }}" height="48" />
        {% elseif i % 3 == 2 %}
            <img src="{{ asset('assets/images/icons/'~icons[1]) }}" height="48" />
        {% else %}
            <img src="{{ asset('assets/images/icons/'~icons[2]) }}" height="48" />
        {% endif %}
    {% endfor %}
    </div>
