{% extends 'base.html.twig' %}

{% block title %}Grinch control panel{% endblock %}

{% block body %}
    <h1>Grinch control board</h1>
    <p>What is the secret grinch code?</p>
        <div class="col-lg-3 col-sm-10 mx-auto text-center">
            {{ form_start(login) }}
            {{ form_widget(login.password) }}
            {{ form_widget(login.login) }}
            {{ form_end(login) }}
        </div>

{% endblock %}
