{% extends 'base.html.twig' %}

{% block title %}Select your team!{% endblock %}

{% block body %}
    <div id="select-team">
        <h1>Choose your team</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
