
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Mountains of Christmas', cursive;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**actual css */
* {
    color: whitesmoke;
    font-family: 'Mountains of Christmas', cursive;
}

body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: gray;
    margin-top: 60px;
}

section#content {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(255,255,255,1);
    box-shadow: 5px 5px 5px 0px rgba(255,255,255,1);
    padding: 16px;
}

input.long-answer {
    width: 100%;
    font-size: 2em;
    color: black;
    padding-left: 6px;
}

#question-form #send-container {
    margin: 0 auto;
    margin-top: 16px;
}

#question-form label {
    font-size: 1.5em;
    padding: 16px;
    display: block;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    margin-bottom: 16px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 8px;
}

#select-team select {
    color: black;
}

#select-team button {
    background-color: white;
    color: black;
}

#countdown-banner {
    text-align: center;
    font-size: 3em;
    padding: 16px;
}

#team-table {
    margin-top: 20px;
}

#team-table td, #team-table th {
    padding: 6px;
    text-align: left;
}

button.glow {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    color: #BC5F24;
    transition: .5s;
    cursor: pointer;

    margin: 0 auto;
    border: 0px;
}

button.glow:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

button.glow:before {
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

button.glow {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

button.glow:hover {
    transform: scale(1.2);
}

#passive-bonus-info {
    clear: both;
    min-height: 160px;
    margin-left: 30px;
}