{% extends 'base.html.twig' %}

{% block title %}Scoreboard{% endblock %}

{% block body %}
    <meta http-equiv="refresh" content="30">

    <h1>Scoreboard</h1>
    <p>The race for santa is on!</p>

    <table id="team-table" width="100%">
        <thead>
            <tr>
                <th width="10%">Position</th>
                <th>Team</th>
                <th width="20%">Presents</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                {% if team.points > 0 %}
                <tr>
                    <td># {{ loop.index }}</td>
                    <td>{{ team.name }}</td>
                    <td class="scoreBoardPoints">{{ team.points }} <img src="{{ asset('assets/images/icons/026-gift.png') }}" height="32" />
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
